

.miniatura {
    height: 120px;
    width : 100px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}


.aff {
    font-size: 50px;
    cursor: pointer;
    color: lightgray;
}

.avatar {
    height: 50px;
    width : 50px;
    border-radius: 50%;
    cursor: pointer;
}


#foto {
    height: 75px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.8);

}
#foto:hover {
    background-color: #4faddb;
}
body {
    background-image: url(../img/background3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 100px;
    font-family: 'Oswald', sans-serif;
}

.icone {
    font-size: 40px;
}

.geral {
    min-height: 84%;
    color: white;
    align-items: center;
    display: flex;
}

.logo {
    color: lightgray;
    font-size: 60px;
}

.titulo {
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
}

.caixa {
    border-radius: 25px;
    background: #343a40;
}

.menu a:hover {
    background-color: #4faddb;
    color: #000;
}

.menu a.selected {
    background-color: #4faddb;
    color: #000;
}

.arredondar {
    border-radius: 10px;
}

.Registrar , .Deslogar{
    background: #f50a31;
    color: #fff;
    border-radius: 15px;
    margin: 8px;
}

.loginInput {
    border-radius: 15px;
    margin: 8px;
    color: #fff;
}

.cardFormulario {
    background: rgba(0, 0, 0, 0.5);
    /* margin-bottom: 15%; */
}
.cardFormularioSrv {
    padding:0;
    background: rgba(0, 0, 0, 0.5);
    /* margin-bottom: 15%; */
}
.cardFormularioSrv img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.error {
    color: red;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


.login-card-footer-text {
    font-size: 16px;
    color: lightgray;
}


.login-card-footer-text:hover {
    color: #f50a31;
}

.entrar {
    background: #f50a31;
    color: white;
}
.entrar:hover {
    /*background-color: #4faddb;*/
    /*color: #000;*/
    filter: brightness(90%);
}

#login, #Registrar,#Deslogar {
    color: white;
    cursor: pointer;
}

#Deslogar2 {
    color: white;
    cursor: pointer;
}



